<h1>Categories of your tools</h1>

<% @categories.each do |category| %>
  <%= category.name %>: <% category.tools.each do |tool| %>
                        <%= tool.name %>
                        <br>
  <% end %>
<% end %>
